<!-- <div class="container-fluid d-flex justify-content-center flex-column align-items-center">
	<img src="assets/header-card.png" alt=""  />
    <button type="button" class="btn btn-primary" routerLink="/play">Play now</button>
</div> -->

<div class="container text-center my-5">
	<h1 class="display-4">Welcome to Memory Quest!</h1>
	<p class="lead">Sharpen your memory skills with our fun and engaging card game.</p>

	<img src="assets/header-card.png" width="210px" height="140px" class="img-fluid mb-4" alt="Memory Game Image" style="max-width: 60%" />

	<div class="d-flex gap-3 justify-content-center">
		<a routerLink="/play" class="btn btn-primary btn-lg">Play Now</a>
		<a routerLink="/instructions" class="btn btn-secondary btn-lg ml-2">Instructions</a>
	</div>
</div>
