<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="assets/header-card.png" alt=""  height="40" />
		</a>
		<button
			#toggler
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a
					class="nav-link"
					href="javascript:void(0)"
					routerLink="/"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }" (click)="toggler.click()">
					Home
				</a>
				<a class="nav-link" href="javascript:void(0)" routerLink="/play" routerLinkActive="active" (click)="toggler.click()">
					Play Now
				</a>
				<a class="nav-link" href="javascript:void(0)" routerLink="/instructions" routerLinkActive="active" (click)="toggler.click()">
					Instructions
				</a>
			</div>
		</div>
	</div>
</nav>
