@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.card-size {
	width: 100%;
	height: auto;
	user-select: none;
	aspect-ratio: 3/4;
}

.fa-icon {
	font-size: 2em;
	@include media-breakpoint-up(lg) {
		font-size: 4em;
	}
}
