<div
	[@animationError]="cardErrorState"
	[@animationSuccess]="cardSuccessState"
	(@animationSuccess.done)="cardSuccessDone($event)"
	(@animationError.done)="cardErrorDone($event)"
	[@animationFlip]="flipState"
	class="card shadow-sm rounded-3 card-size border-0"
	role="button"
	(click)="reveal()">
	<div class="card-body p-0 d-flex">
		@if (isFaceDown) {
		<img class="img-fluid" src="assets/card/back-card.png" />
		} @else {
		<div class="d-flex align-items-center justify-content-center w-100">
			<fa-icon [icon]="card.icon" class="icon-size" [style.color]="card.color"></fa-icon>
		</div>
		}
	</div>
</div>
