<div
	[@animationError]="cardErrorState"
	[@animationSuccess]="cardSuccessState"
	(@animationSuccess.done)="cardSuccessDone($event)"
	(@animationError.done)="cardErrorDone($event)"
	[@animationFlip]="flipState"
	class="card shadow-sm rounded-3 card-size border-0"
	role="button"
	(click)="reveal()">
	<div class="card-body p-0 d-flex">
		@if (isFaceDown) {
		<img
			class="img-fluid rounded-3 border border-primary border-2 w-100"
			width="139px"
			height="187px"
			src="assets/card/back-card.webp" />
		} @else {
		<div class="d-flex align-items-center justify-content-center w-100">
			<fa-icon class="fa-icon" [icon]="card.icon" [style.color]="card.color"></fa-icon>
		</div>
		}
	</div>
</div>
