@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.card-size {
	width: 60px;
	height: 79px;
	user-select: none;

	@include media-breakpoint-up(sm) {
		width: 126px; 
		height: 168px;
	}

	@include media-breakpoint-up(lg) {
		width: 157px; 
		height: 209px; 
	}
}

.icon-size {
    font-size: 2em;
	@include media-breakpoint-up(sm) {
		font-size: 6em;
	}
}
