@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.card-size {
	width: 100px;
	height: 133px;
	user-select: none;

	@include media-breakpoint-up(sm) {
		width: 105px; 
		height: 140px;
	}

	@include media-breakpoint-up(lg) {
		width: 157px; 
		height: 209px; 
	}
}
