@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.card-size {
	width: 100%;
	height: 100%;
	user-select: none;
}

.icon-size {
    font-size: 2em;
	@include media-breakpoint-up(sm) {
		font-size: 4em;
	}
}
