@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

:host {
	max-width: 100%;
	display: block;
	margin: auto;
}

app-card {
	@include media-breakpoint-up(xl) {
		width: 12.5%;
	}
}
